.*.sw*
small/test
small/report
large/build
large/report
*.cm*
*.o
*.dl
*.do
*.di
*.lo
*.la
sampler-1.6.2/Makefile
sampler-1.6.2/config.h
sampler-1.6.2/config.log
sampler-1.6.2/config.m4
sampler-1.6.2/config.status
sampler-1.6.2/debian/Makefile
sampler-1.6.2/doc/Makefile
sampler-1.6.2/doc/config.xml
sampler-1.6.2/doc/sampler-guide/C/Makefile
sampler-1.6.2/doc/sampler-guide/C/omf_timestamp
sampler-1.6.2/doc/sampler-guide/C/sampler-guide-C.omf.out
sampler-1.6.2/doc/sampler-guide/Makefile
sampler-1.6.2/driver/Makefile
sampler-1.6.2/driver/as
sampler-1.6.2/driver/cc1
sampler-1.6.2/driver/sampler-cc
sampler-1.6.2/driver/sampler-cc-here
sampler-1.6.2/fuzz/.deps/
sampler-1.6.2/fuzz/Makefile
sampler-1.6.2/fuzz/fuzz
sampler-1.6.2/instrumentor/Makefile
sampler-1.6.2/instrumentor/balance/Makefile
sampler-1.6.2/instrumentor/balance/atconfig
sampler-1.6.2/instrumentor/bounds/Makefile
sampler-1.6.2/instrumentor/bounds/atconfig
sampler-1.6.2/instrumentor/branches/Makefile
sampler-1.6.2/instrumentor/branches/atconfig
sampler-1.6.2/instrumentor/build-libraries
sampler-1.6.2/instrumentor/function-entries/Makefile
sampler-1.6.2/instrumentor/function-entries/atconfig
sampler-1.6.2/instrumentor/g-object-unref/Makefile
sampler-1.6.2/instrumentor/g-object-unref/atconfig
sampler-1.6.2/instrumentor/g-object-unref/atlocal
sampler-1.6.2/instrumentor/libraries.ml
sampler-1.6.2/instrumentor/main
sampler-1.6.2/instrumentor/nothing/Makefile
sampler-1.6.2/instrumentor/nothing/atconfig
sampler-1.6.2/instrumentor/returns/Makefile
sampler-1.6.2/instrumentor/returns/atconfig
sampler-1.6.2/instrumentor/scalar-pairs/Makefile
sampler-1.6.2/instrumentor/scalar-pairs/atconfig
sampler-1.6.2/instrumentor/timestamps/Makefile
sampler-1.6.2/instrumentor/timestamps/atconfig
sampler-1.6.2/instrumentor/version.ml
sampler-1.6.2/launcher/Makefile
sampler-1.6.2/launcher/common/Makefile
sampler-1.6.2/launcher/common/SamplerConfig.py
sampler-1.6.2/launcher/first-time/Makefile
sampler-1.6.2/launcher/first-time/Paths.py
sampler-1.6.2/launcher/first-time/edu.wisc.cs.cbi.FirstTime.service
sampler-1.6.2/launcher/first-time/first-time
sampler-1.6.2/launcher/pixmaps/Makefile
sampler-1.6.2/launcher/preferences/Makefile
sampler-1.6.2/launcher/preferences/Paths.py
sampler-1.6.2/launcher/preferences/sampler-preferences
sampler-1.6.2/launcher/test-by-extension
sampler-1.6.2/launcher/tray/Makefile
sampler-1.6.2/launcher/tray/Paths.py
sampler-1.6.2/launcher/tray/edu.wisc.cs.cbi.Monitor.service
sampler-1.6.2/launcher/tray/tray
sampler-1.6.2/launcher/wrapper/Makefile
sampler-1.6.2/launcher/wrapper/Paths.py
sampler-1.6.2/lib/Makefile
sampler-1.6.2/lib/schemes/.deps/
sampler-1.6.2/lib/schemes/.libs/
sampler-1.6.2/lib/schemes/Makefile
sampler-1.6.2/lib/threads/Makefile
sampler-1.6.2/lib/threads/no/.deps/
sampler-1.6.2/lib/threads/no/.libs/
sampler-1.6.2/lib/threads/no/Makefile
sampler-1.6.2/lib/threads/no/precompute
sampler-1.6.2/lib/threads/yes/.deps/
sampler-1.6.2/lib/threads/yes/.libs/
sampler-1.6.2/lib/threads/yes/Makefile
sampler-1.6.2/libtool
sampler-1.6.2/mining/Makefile
sampler-1.6.2/mining/analysis/.deps/
sampler-1.6.2/mining/analysis/Makefile
sampler-1.6.2/mining/analysis/modernize
sampler-1.6.2/mining/analysis/one
sampler-1.6.2/mining/dumps/Makefile
sampler-1.6.2/mining/populate/Makefile
sampler-1.6.2/mining/queries/Makefile
sampler-1.6.2/ocaml/Makefile
sampler-1.6.2/ocaml/common.a
sampler-1.6.2/package.m4
sampler-1.6.2/stamp-h1
sampler-1.6.2/tools/.deps/
sampler-1.6.2/tools/Makefile
sampler-1.6.2/tools/add-depends
sampler-1.6.2/tools/build-info-deb
sampler-1.6.2/tools/cfg/Makefile
sampler-1.6.2/tools/cfg/graphlib/Makefile
sampler-1.6.2/tools/cfg/graphlib/graphlib.a
sampler-1.6.2/tools/cfg/order-sites
sampler-1.6.2/tools/cfg/resolve-cfg
sampler-1.6.2/tools/decimate-samples
sampler-1.6.2/tools/install-gconf
sampler-1.6.2/tools/install-wrappers
sampler-1.6.2/tools/resolve-samples
sampler-1.6.2/tools/resolve-timestamps
sampler-1.6.2/tools/rpmbuild
sampler-1.6.2/tools/wrapper.in
sampler-1.6.2/www/Makefile
sampler-1.6.2/www/cgi-bin/Makefile
