[Desktop Entry]
Encoding=UTF-8
Name=Bug Isolation
Comment=Change feedback settings for the Bug Isolation Project
Icon=sampler
Exec=sampler-preferences
Terminal=false
StartupNotify=true
Type=Application
Categories=GTK;GNOME;Settings;X-GNOME-SystemSettings;
